<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    {% load static %}
    <script src="https://code.jquery.com/jquery-2.1.3.min.js"></script>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
    <title>Welcome to Monster Island!</title>
</head>
<body id="body_standard">
    <div id="container">
        <div id="header">
            <h1>Welcome to Monster Island!</h1>
            <p>Buckle up, your movie experience is about to get a whole lot sillier.</p>
            <div id="header_links">
                <a href="/watchlist">Your Watchlist</a>
                <a href="/logout">Log Out</a>
            </div>
        </div>
        <div id="nav_and_body">
            <div id="navbar">
                <a href="/monster_island" id="main_page">Back to the Island</a>
                <ul>Eras
                    <li><a href="/collection/374509">Showa</a></li>
                    <li><a href="/collection/374511">Heisei</a></li>
                    <li><a href="/collection/374512">Millennium</a></li>
                    <li><a href="/detail/315011">Reiwa</a></li>
                    <li><a href="/collection/535313">Western</a></li>
                    <li><a href="/collection/all">All</a></li>
                </ul>
            </div>
            <div id="body_mi">
                <div id="showa">
                    <p></p>
                </div>
                <div id="heisei">
                    <p></p>
                </div>
                <div id="millennium">
                    <p></p>
                </div>
                <div id="reiwa">
                    <p></p>
                </div>
                <div id="western">
                    <p></p>
                </div>
            </div>
        </div>
    </div>
</body>
</html>